<div class="accordion__item" data-accordion-item data-vacancy-id="{{data.id}}">
  <div class="accordion__header">
    <div class="accordion__header-time">{{ data['tv.date'] |date("d.m.Y") }}</div>
    <div class="accordion__header-vakanci">{{ data['pagetitle'] }}</div>
    <div class="accordion__header-department">{{ data['tv.department'] }}</div>
    <div class="accordion__header-pay">{{ data['tv.pay'] }}</div>
    <div class="accordion__header-other">
      {% if data['tv.hh_link'] is not empty %}
  <a class="accordion__header-other-logo" href="{{ data['tv.hh_link'] }}"><img src="templates/img/hh.svg" alt="in"></a>
{% endif %}
{% if data['tv.in_link'] is not empty %}
  <a class="accordion__header-other-logo" href="{{ data['tv.in_link'] }}"><img src="templates/img/in.svg" alt="in"></a>
{% endif %}
      <div class="accordion__header-click">
        
        {% if data["tv.teststudy"] is defined and data["tv.teststudy"] %}
          <a href="javascript:void(0)" class="accordion__header-btn" data-vacancy="{{data.pagetitle}}"  data-id="{{data.id}}" data-tz="yes">
        {% else %}
        <a href="javascript:void(0)" class="accordion__header-btn" data-vacancy="{{data.pagetitle}}"  data-id="{{data.id}}"  data-tz="no">
        {% endif %}  
          Оставить отклик
        </a>
        <div class="accordion__content-open">
          <div class="accordion__content-txt">или напишите напрямую руководителяю</br>подразделения</div>
          <a href="#"><img src="templates/img/telegram.svg" alt=""></a>
        </div> 
      </div>
    </div>
  </div>
  <div class="accordion__content">
    <div class="accordion__content-top">
      <div class="accordion__content-condition">
        <div class="accordion__content-label">
          Особые условия
        </div>
        <ol>
          {{ data['tv.special'] | raw}}
          {% if data["tv.teststudy"] is defined and data["tv.teststudy"] %}
  <li style="  list-style-type: none;">Требуется выполнение <a href="{{data["tv.teststudy"]}}" download class="teststudy">тестового задания</a></li>
{% endif %}
        </ol>
      </div>
      <div class="accordion__content-adaptive ">
                <div class="accordion__content-label">
                  Вакансии на ресурсах
                </div>
                <div class="accordion__content-vacancy">
                {% if data['tv.hh_link'] is not empty %}
                  <a href="{{ data['tv.hh_link'] }}"><img src="templates/img/hh.svg" alt="in"></a>
                {% endif %}
                {% if data['tv.in_link'] is not empty %}
                  <a href="{{ data['tv.in_link'] }}"><img src="templates/img/in.svg" alt="in"></a>
                {% endif %}
              </div>
              </div>
      <div class="accordion__content-lavel">
        <div class="accordion__content-label">
          Уровень знаний
        </div>
        <div class="accordion__content-rang">{{ data['tv.rang'] }}</div>
      </div>
    </div>
    <div class="accordion__content-bottom">
      <div class="accordion__content-column">
        <h5 class="accordion__content-title">
          Обязанности
        </h5>
        <ul class="accordion__content-list">
          {% set duties = (data['tv.duties'] | json) %}
          {% for item in duties.fieldValue %}
          <li class="accordion__content-item">
            {{ item.value }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="accordion__content-column">
        <h5 class="accordion__content-title">
          Требования
        </h5>
        <ul class="accordion__content-list">
          {% set requirements = (data['tv.requirements'] | json) %}
          {% for item in requirements.fieldValue %}
          <li class="accordion__content-item">
            {{ item.value }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="accordion__content-links">
        {% if data["tv.teststudy"] is defined and data["tv.teststudy"] %}
          <a href="javascript:void(0)" class="accordion__header-btn" data-vacancy="{{data.pagetitle}}"   data-id="{{data.id}}" data-tz="yes">
        {% else %}
        <a href="javascript:void(0)" class="accordion__header-btn" data-vacancy="{{data.pagetitle}}"   data-id="{{data.id}}" data-tz="no">
        {% endif %}  
          Оставить отклик
        </a>
        <div class="accordion__content-txt">или напишите напрямую руководителяю</br>подразделения</div>
        <a href="#"><img src="templates/img/telegram.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>