{% extends 'app.twig' %}
{#% cache 'header' ~ cacheKey %#}
{#% include('partials/header.twig') %#}
{% block MAIN %}
{% set dlcatalog = runSnippet('DocLister', {
id: 'accordion',
display: 20,
parents: 2,
depth: 3,
tvList:'date,department,pay,hh_link,in_link,special,rang,duties,requirements,dop_mail,dotadesc,dotatitle,image1,image2,stack',
ownerTPL: '@CODE:[+dl.wrap+]',
tpl:'@T_FILE:partials/accordeon',
debug: 0,
tvPrefix: '',
api: 1,
})
|json %}


<body class="main__body">
  <!-- Header -->
  <header class="header header-game">
    <!-- Navbar -->
    <nav class="nav">
      <div class="navbar">
        <div class="logo"> <a href="#"> <img src="templates/img//logo.svg" alt="logo"> </a> </div>
        <ul class="menu">
          <li class="menu__item"><a href="#about" class="menu__item-link" data-scroll>О компании</a></li>
          <li class="menu__item"><a href="#team" class="menu__item-link" data-scroll>Data Team</a></li>
          <li class="menu__item"><a href="#stack" class="menu__item-link" data-scroll>Наш стек</a></li>
          <li class="menu__item"><a href="#vakancy" class="menu__item-link" data-scroll>Вакансии</a></li>
        </ul>
        <div class="burger">
          <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_207_2847)">
              <path d="M20.8802 19.999C17.7821 19.999 18.565 20.001 15.467 19.9981C14.3349 19.9971 13.4182 19.2627 13.1664 18.1714C12.9098 17.0572 13.4191 15.8975 14.4169 15.4318C14.7273 15.2868 15.094 15.1956 15.4355 15.1946C21.6548 15.1806 14.7773 15.182 20.9966 15.1864C22.2189 15.1874 23.2244 16.123 23.3219 17.3196C23.43 18.6496 22.6404 19.7439 21.4025 19.967C21.2265 19.9985 21.0426 19.9971 20.8627 19.9976C17.7962 19.999 23.9461 19.999 20.8797 19.9985L20.8802 19.999Z" fill="black" />
              <path d="M14.0924 4.81697C11.0182 4.81697 13.28 4.80145 10.2057 4.82376C8.8151 4.83395 7.98373 3.82262 7.80814 2.87532C7.52584 1.35276 8.62011 0.00432097 10.1689 0.00189573C13.117 -0.00198466 10.7301 0.000925634 13.6782 0.000925634C16.9096 0.000925634 17.7157 -0.00101456 20.9466 0.00189573C22.0322 0.00286583 22.8975 0.635369 23.222 1.64961C23.5446 2.65899 23.19 3.77315 22.3533 4.38722C21.9095 4.71317 21.4084 4.81988 20.8661 4.81891C17.8001 4.81358 17.1589 4.81649 14.0929 4.81649L14.0924 4.81697Z" fill="black" />
              <path d="M11.6453 12.4055C8.55553 12.4055 5.46528 12.407 2.37552 12.4051C1.17066 12.4041 0.248587 11.6096 0.0356509 10.3994C-0.162734 9.26971 0.483836 8.11433 1.55191 7.73647C1.80559 7.64674 2.08886 7.60017 2.35855 7.59969C8.56959 7.59241 14.7811 7.59241 20.9922 7.59532C22.2024 7.59581 23.2064 8.51304 23.3199 9.70043C23.446 11.0207 22.6569 12.1422 21.4307 12.3716C21.2546 12.4046 21.0707 12.4041 20.8908 12.4046C17.8088 12.4065 14.7268 12.406 11.6448 12.406L11.6453 12.4055Z" fill="black" />
            </g>
            <defs>
              <clipPath id="clip0_207_2847">
                <rect width="23.3396" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </nav>
  </header>
  <!-- Main Page -->
  <main>
    <div id="fullpage">
      {#<div class="section">
        <section class="hero hero-game"  style="min-height:100vh">
          <div class="container">
            <div class="hero__inner" data-aos="fade-up" data-aos-duration="1000">
              <div class="hero__top">
                <img src="templates/img//hero-logo.svg" alt="hero logo">
                <img src="templates/img//logo-white.svg" alt="hero logo">
              </div>
              <div class="hero__middle">
                <h1 class="hero__title">
                  Ало, мы ищем DataScience специалистов
                </h1>
              </div>
              <div class="hero__bottom">
                <a class="hero__link hero__link--green" href="index.html">
                  Отлично, я хочу посмотреть
                  <span>вакансии</span>
                </a>
                <a class="hero__link hero__link--transparent" href="game.html">
                  Драфтуйте меня скорее!
                  <span>«Дауби!»</span>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>#}
      <div class="section" id="daubitest">
        <section class="test"  style="height:100vh;overflow: hidden;">
          <div class="container">
            <div class="test__inner">
              <div class="test__info">
                <div class="test__top">
                  <img class="test__top-img" src="templates/img//test/test-fist.svg" alt="">
                  <p class="test__top-text">
                    НАШ МАНИФЕСТ
                  </p>
                </div>
                <h2 class="test__title">
                  DATA SCIENCE может быть<br> не скучным!
                </h2>
                <p class="test__descr">
                  Прокачал себя в банках, страховых, ECOM и телеке? Надоело? Приходи к нам! Полная стата по всему существующему
                  спорту! Не типовые задачи, крутой коллектив, релокация в Белград. И “да” - эта шапка в стиле Dota2, потому что
                  мы так захотели.
                </p>
                {# <a class="test__link" href="#">
                  Пройти тест и устроится к нам на работу!
                </a>#}
                <div class="test__slider-container">
                  <div class="test__slider swiper mySwiper">
                    <div class="test__slider-wrapper swiper-wrapper">
                      {% for data in dlcatalog %}
                      <div class="test__slide swiper-slide">
                        <div class="test__slide-top">
                          <div class="test__slide-top-vacansy">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.6049 10.8978C12.8907 10.124 12.0241 9.50648 11.0595 9.08413C10.095 8.66178 9.0534 8.44374 8.00043 8.44374C6.94746 8.44374 5.9059 8.66178 4.94135 9.08413C3.97679 9.50648 3.11015 10.124 2.39599 10.8978C2.28573 11.0197 2.22405 11.1778 2.22266 11.3422V14.0089C2.22499 14.1841 2.29626 14.3514 2.42103 14.4745C2.54581 14.5977 2.71404 14.6667 2.88932 14.6667H13.1115C13.2884 14.6667 13.4579 14.5964 13.5829 14.4714C13.708 14.3464 13.7782 14.1768 13.7782 14V11.3333C13.7747 11.172 13.7131 11.0174 13.6049 10.8978Z" fill="white" />
                              <path d="M7.99978 7.55555C9.718 7.55555 11.1109 6.16266 11.1109 4.44444C11.1109 2.72622 9.718 1.33333 7.99978 1.33333C6.28156 1.33333 4.88867 2.72622 4.88867 4.44444C4.88867 6.16266 6.28156 7.55555 7.99978 7.55555Z" fill="white" />
                            </svg>
                            {{data.dotatitle}}
                          </div>
                          <div class="test__slide-top-time">
                            {{data.date |date("d.m.Y")}}
                          </div>
                        </div>
                        <div class="test__slide-info">
                          <img class="test__slide-icon" src="templates/img//test/test-slide-img.png" alt="">
                          <div class="test__slide-texts">
                            <h4 class="test__slide-label">
                              {{data.dotatitle}}
                            </h4>
                            <p class="test__slide-descr">
                              {{data.dotadesc}}
                            </p>
                          </div>
                          <div class="test__slide-power">
                            <img class="test__slide-power-img" src="templates/img//test/test-fist.svg" alt="">
                            <div class="test__slide-power-text">
                              ТУТ НЕПОНЯТНО ЧТО ДОЛЖНО БЫТЬ!
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      {#<div class="test__slide  swiper-slide">
                        <div class="test__slide-top">
                          <div class="test__slide-top-vacansy">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.6049 10.8978C12.8907 10.124 12.0241 9.50648 11.0595 9.08413C10.095 8.66178 9.0534 8.44374 8.00043 8.44374C6.94746 8.44374 5.9059 8.66178 4.94135 9.08413C3.97679 9.50648 3.11015 10.124 2.39599 10.8978C2.28573 11.0197 2.22405 11.1778 2.22266 11.3422V14.0089C2.22499 14.1841 2.29626 14.3514 2.42103 14.4745C2.54581 14.5977 2.71404 14.6667 2.88932 14.6667H13.1115C13.2884 14.6667 13.4579 14.5964 13.5829 14.4714C13.708 14.3464 13.7782 14.1768 13.7782 14V11.3333C13.7747 11.172 13.7131 11.0174 13.6049 10.8978Z" fill="white" />
                              <path d="M7.99978 7.55555C9.718 7.55555 11.1109 6.16266 11.1109 4.44444C11.1109 2.72622 9.718 1.33333 7.99978 1.33333C6.28156 1.33333 4.88867 2.72622 4.88867 4.44444C4.88867 6.16266 6.28156 7.55555 7.99978 7.55555Z" fill="white" />
                            </svg>
                            Новая вакансия2
                          </div>
                          <div class="test__slide-top-time">
                            20/11/2021
                          </div>
                        </div>
                        <div class="test__slide-info">
                          <img class="test__slide-icon" src="templates/img//test/test-slide-img.png" alt="">
                          <div class="test__slide-texts">
                            <h4 class="test__slide-label">
                              Data Scientist Jr
                            </h4>
                            <p class="test__slide-descr">
                              Ищем в команду молодого саппорта на hard линию в помощь DATA Керри. Подробности по ссылке в
                              тележке.
                            </p>
                          </div>
                          <div class="test__slide-power">
                            <img class="test__slide-power-img" src="templates/img//test/test-fist.svg" alt="">
                            <div class="test__slide-power-text">
                              СИЛА BIG DATA
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="test__slide  swiper-slide">
                        <div class="test__slide-top">
                          <div class="test__slide-top-vacansy">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.6049 10.8978C12.8907 10.124 12.0241 9.50648 11.0595 9.08413C10.095 8.66178 9.0534 8.44374 8.00043 8.44374C6.94746 8.44374 5.9059 8.66178 4.94135 9.08413C3.97679 9.50648 3.11015 10.124 2.39599 10.8978C2.28573 11.0197 2.22405 11.1778 2.22266 11.3422V14.0089C2.22499 14.1841 2.29626 14.3514 2.42103 14.4745C2.54581 14.5977 2.71404 14.6667 2.88932 14.6667H13.1115C13.2884 14.6667 13.4579 14.5964 13.5829 14.4714C13.708 14.3464 13.7782 14.1768 13.7782 14V11.3333C13.7747 11.172 13.7131 11.0174 13.6049 10.8978Z" fill="white" />
                              <path d="M7.99978 7.55555C9.718 7.55555 11.1109 6.16266 11.1109 4.44444C11.1109 2.72622 9.718 1.33333 7.99978 1.33333C6.28156 1.33333 4.88867 2.72622 4.88867 4.44444C4.88867 6.16266 6.28156 7.55555 7.99978 7.55555Z" fill="white" />
                            </svg>
                            Новая вакансия
                          </div>
                          <div class="test__slide-top-time">
                            20/11/2021
                          </div>
                        </div>
                        <div class="test__slide-info">
                          <img class="test__slide-icon" src="templates/img//test/test-slide-img.png" alt="">
                          <div class="test__slide-texts">
                            <h4 class="test__slide-label">
                              Data Scientist Jr
                            </h4>
                            <p class="test__slide-descr">
                              Ищем в команду молодого саппорта на hard линию в помощь DATA Керри. Подробности по ссылке в
                              тележке.
                            </p>
                          </div>
                          <div class="test__slide-power">
                            <img class="test__slide-power-img" src="templates/img//test/test-fist.svg" alt="">
                            <div class="test__slide-power-text">
                              СИЛА BIG DATA
                            </div>
                          </div>
                        </div>
                      </div>#}
                    </div>
                  </div>
                  <div class="test__slider-arrows">
                    <div class="test__slider-arrow test__slider-prev">
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_233_9878)">
                          <path d="M10 20.5C7.34784 20.5 4.8043 19.4464 2.92893 17.5711C1.05357 15.6957 6.42368e-07 13.1522 8.74228e-07 10.5C1.10609e-06 7.84783 1.05357 5.30429 2.92893 3.42893C4.8043 1.55357 7.34784 0.499999 10 0.499999C12.6522 0.499999 15.1957 1.55357 17.0711 3.42893C18.9464 5.3043 20 7.84784 20 10.5C20 13.1522 18.9464 15.6957 17.0711 17.5711C15.1957 19.4464 12.6522 20.5 10 20.5V20.5ZM14.375 11.125C14.5408 11.125 14.6997 11.0592 14.8169 10.9419C14.9342 10.8247 15 10.6658 15 10.5C15 10.3342 14.9342 10.1753 14.8169 10.0581C14.6997 9.94085 14.5408 9.875 14.375 9.875L7.13375 9.875L9.8175 7.1925C9.87561 7.13439 9.92171 7.0654 9.95316 6.98948C9.9846 6.91355 10.0008 6.83218 10.0008 6.75C10.0008 6.66782 9.9846 6.58644 9.95316 6.51052C9.92171 6.4346 9.87561 6.36561 9.8175 6.3075C9.75939 6.24939 9.69041 6.20329 9.61448 6.17184C9.53856 6.1404 9.45718 6.12421 9.375 6.12421C9.29282 6.12421 9.21145 6.1404 9.13552 6.17184C9.0596 6.20329 8.99061 6.24939 8.9325 6.3075L5.1825 10.0575C5.1243 10.1156 5.07812 10.1845 5.04661 10.2605C5.0151 10.3364 4.99888 10.4178 4.99888 10.5C4.99888 10.5822 5.0151 10.6636 5.04661 10.7395C5.07812 10.8155 5.1243 10.8844 5.1825 10.9425L8.9325 14.6925C8.99061 14.7506 9.0596 14.7967 9.13552 14.8282C9.21145 14.8596 9.29282 14.8758 9.375 14.8758C9.45718 14.8758 9.53856 14.8596 9.61448 14.8282C9.6904 14.7967 9.75939 14.7506 9.8175 14.6925C9.87561 14.6344 9.92171 14.5654 9.95315 14.4895C9.9846 14.4136 10.0008 14.3322 10.0008 14.25C10.0008 14.1678 9.9846 14.0864 9.95315 14.0105C9.92171 13.9346 9.87561 13.8656 9.8175 13.8075L7.13375 11.125L14.375 11.125Z" fill="white" fill-opacity="0.2" />
                        </g>
                        <defs>
                          <clipPath id="clip0_233_9878">
                            <rect width="20" height="20" fill="white" transform="translate(20 20.5) rotate(-180)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <div class="test__slider-arrow test__slider-next">
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_233_9875)">
                          <path d="M10 0.5C12.6522 0.5 15.1957 1.55357 17.0711 3.42893C18.9464 5.3043 20 7.84784 20 10.5C20 13.1522 18.9464 15.6957 17.0711 17.5711C15.1957 19.4464 12.6522 20.5 10 20.5C7.34784 20.5 4.8043 19.4464 2.92893 17.5711C1.05357 15.6957 0 13.1522 0 10.5C0 7.84784 1.05357 5.3043 2.92893 3.42893C4.8043 1.55357 7.34784 0.5 10 0.5V0.5ZM5.625 9.875C5.45924 9.875 5.30027 9.94085 5.18306 10.0581C5.06585 10.1753 5 10.3342 5 10.5C5 10.6658 5.06585 10.8247 5.18306 10.9419C5.30027 11.0592 5.45924 11.125 5.625 11.125H12.8663L10.1825 13.8075C10.1244 13.8656 10.0783 13.9346 10.0468 14.0105C10.0154 14.0864 9.99921 14.1678 9.99921 14.25C9.99921 14.3322 10.0154 14.4136 10.0468 14.4895C10.0783 14.5654 10.1244 14.6344 10.1825 14.6925C10.2406 14.7506 10.3096 14.7967 10.3855 14.8282C10.4614 14.8596 10.5428 14.8758 10.625 14.8758C10.7072 14.8758 10.7886 14.8596 10.8645 14.8282C10.9404 14.7967 11.0094 14.7506 11.0675 14.6925L14.8175 10.9425C14.8757 10.8844 14.9219 10.8155 14.9534 10.7395C14.9849 10.6636 15.0011 10.5822 15.0011 10.5C15.0011 10.4178 14.9849 10.3364 14.9534 10.2605C14.9219 10.1845 14.8757 10.1156 14.8175 10.0575L11.0675 6.3075C11.0094 6.24939 10.9404 6.20329 10.8645 6.17185C10.7886 6.1404 10.7072 6.12421 10.625 6.12421C10.5428 6.12421 10.4614 6.1404 10.3855 6.17185C10.3096 6.20329 10.2406 6.24939 10.1825 6.3075C10.1244 6.36561 10.0783 6.4346 10.0468 6.51052C10.0154 6.58644 9.99921 6.66782 9.99921 6.75C9.99921 6.83218 10.0154 6.91356 10.0468 6.98948C10.0783 7.0654 10.1244 7.13439 10.1825 7.1925L12.8663 9.875H5.625Z" fill="white" />
                        </g>
                        <defs>
                          <clipPath id="clip0_233_9875">
                            <rect width="20" height="20" fill="white" transform="translate(0 0.5)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="test__pictures">
                <div class="test__pictures-inner">
                  <img class="test__pictures-bg" src="templates/img//test/test-char.png" alt="">
                  <a class="test__pictures-link" id="moveSectionDown" href="#">
                    <img class="test__pictures-btn" src="templates/img//test/test-btn.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="section" id="vacancy-char2" data-anchor="vacancy-char">
        <section class="char"  style="min-height:162vh">
          <div class="container">
            <div class="char__inner">
              <div class="char__select">
                <h3 class="char__title">
                  Выбери своего персонажа
                </h3>
                <div class="char__side">
                  <div class="char__side-border"></div>
                  <d iv class="char__side-info">
                    <span>
                      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" width="20" height="20" rx="10" fill="#00C7B1" />
                        <g clip-path="url(#clip0_214_1583)">
                          <path d="M11.9994 7V2.5C11.9994 2.22375 11.7756 2 11.4994 2H10.4994C10.2231 2 9.99937 2.22375 9.99937 2.5V7.09156C10.1562 7.03594 10.3225 7 10.4984 7H11.9994ZM15.9994 9.99969C15.9991 8.89531 15.1038 8 13.9997 8H10.4953C10.2209 8 9.99844 8.22094 9.99844 8.49531V8.51281C9.99844 9.33375 10.6641 10 11.485 10H12.5869C12.8894 10 12.9994 10.1119 12.9994 10.25V10.7563C12.9994 10.8903 12.8872 10.9994 12.7531 11.0063C11.3619 11.0775 10.7481 11.7784 9.75156 13.2734L9.55438 13.5694C9.53618 13.5967 9.51279 13.6202 9.48552 13.6384C9.45826 13.6567 9.42766 13.6694 9.39547 13.6759C9.36329 13.6823 9.33015 13.6824 9.29795 13.676C9.26575 13.6696 9.23512 13.657 9.20781 13.6388L8.79187 13.3612C8.76455 13.3431 8.74108 13.3197 8.72281 13.2924C8.70453 13.2651 8.69181 13.2345 8.68537 13.2023C8.67893 13.1702 8.67889 13.137 8.68526 13.1048C8.69163 13.0726 8.70429 13.042 8.7225 13.0147L8.91969 12.7188C9.41125 11.9812 9.86344 11.3669 10.3981 10.9038C9.85844 10.7316 9.41687 10.3375 9.18344 9.82719C8.9775 9.93375 8.74719 9.99969 8.5 9.99969H7.5C7.11438 9.99969 6.76594 9.84937 6.5 9.60969C6.23375 9.84969 5.88531 10 5.5 10H4.5C4.32375 10 4.15719 9.96406 4 9.90781V12.3431C4 13.4041 4.42125 14.4212 5.17156 15.1716L5.99969 16V18H13.9991V16.0013L15.1213 14.8787C15.684 14.3159 16.0001 13.5525 16 12.7566L15.9994 9.99969ZM14.9991 7.18437V3.5C14.9991 3.22375 14.7753 3 14.4991 3H13.4991C13.2228 3 12.9991 3.22375 12.9991 3.5V7H13.9991C14.3516 7 14.6847 7.07219 14.9991 7.18437ZM4.5 9H5.5C5.77625 9 6 8.77625 6 8.5V4.5C6 4.22375 5.77625 4 5.5 4H4.5C4.22375 4 4 4.22375 4 4.5V8.5C4 8.77625 4.22375 9 4.5 9ZM7.49969 9H8.49969C8.77594 9 8.99969 8.77625 8.99969 8.5V3.5C8.99969 3.22375 8.77594 3 8.49969 3H7.49969C7.22344 3 6.99969 3.22375 6.99969 3.5V8.5C6.99969 8.77625 7.22344 9 7.49969 9Z" fill="black" fill-opacity="0.5" />
                        </g>
                        <defs>
                          <clipPath id="clip0_214_1583">
                            <rect width="12" height="16" fill="white" transform="translate(4 2)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <h4 class="char__side-label">
                      Business Intelligence
                    </h4>
                  </d>
                  <div class="char__side-border"></div>
                </div>
                <ul class="char__select-list">
                  {% for item in dlcatalog %}
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="{{item["image1"]}}" alt="">
                    <p class="char__select-name">
                      {{ item.dotatitle }}
                      {{ item.rang }}
                    </p>
                  </li>
                  {% endfor %}
                </ul>
                <div class="char__side">
                  <div class="char__side-border"></div>
                  <div class="char__side-info">
                    <span>
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="20" rx="10" fill="#753BBD" />
                        <g clip-path="url(#clip0_214_1605)">
                          <path d="M11.4994 7V2.5C11.4994 2.22375 11.2756 2 10.9994 2H9.99937C9.72312 2 9.49937 2.22375 9.49937 2.5V7.09156C9.65625 7.03594 9.8225 7 9.99844 7H11.4994ZM15.4994 9.99969C15.4991 8.89531 14.6038 8 13.4997 8H9.99531C9.72094 8 9.49844 8.22094 9.49844 8.49531V8.51281C9.49844 9.33375 10.1641 10 10.985 10H12.0869C12.3894 10 12.4994 10.1119 12.4994 10.25V10.7563C12.4994 10.8903 12.3872 10.9994 12.2531 11.0063C10.8619 11.0775 10.2481 11.7784 9.25156 13.2734L9.05438 13.5694C9.03618 13.5967 9.01279 13.6202 8.98552 13.6384C8.95826 13.6567 8.92766 13.6694 8.89547 13.6759C8.86329 13.6823 8.83015 13.6824 8.79795 13.676C8.76575 13.6696 8.73512 13.657 8.70781 13.6388L8.29187 13.3612C8.26455 13.3431 8.24108 13.3197 8.22281 13.2924C8.20453 13.2651 8.19181 13.2345 8.18537 13.2023C8.17893 13.1702 8.17889 13.137 8.18526 13.1048C8.19163 13.0726 8.20429 13.042 8.2225 13.0147L8.41969 12.7188C8.91125 11.9812 9.36344 11.3669 9.89813 10.9038C9.35844 10.7316 8.91687 10.3375 8.68344 9.82719C8.4775 9.93375 8.24719 9.99969 8 9.99969H7C6.61438 9.99969 6.26594 9.84937 6 9.60969C5.73375 9.84969 5.38531 10 5 10H4C3.82375 10 3.65719 9.96406 3.5 9.90781V12.3431C3.5 13.4041 3.92125 14.4212 4.67156 15.1716L5.49969 16V18H13.4991V16.0013L14.6213 14.8787C15.184 14.3159 15.5001 13.5525 15.5 12.7566L15.4994 9.99969ZM14.4991 7.18437V3.5C14.4991 3.22375 14.2753 3 13.9991 3H12.9991C12.7228 3 12.4991 3.22375 12.4991 3.5V7H13.4991C13.8516 7 14.1847 7.07219 14.4991 7.18437ZM4 9H5C5.27625 9 5.5 8.77625 5.5 8.5V4.5C5.5 4.22375 5.27625 4 5 4H4C3.72375 4 3.5 4.22375 3.5 4.5V8.5C3.5 8.77625 3.72375 9 4 9ZM6.99969 9H7.99969C8.27594 9 8.49969 8.77625 8.49969 8.5V3.5C8.49969 3.22375 8.27594 3 7.99969 3H6.99969C6.72344 3 6.49969 3.22375 6.49969 3.5V8.5C6.49969 8.77625 6.72344 9 6.99969 9Z" fill="white" fill-opacity="0.5" />
                        </g>
                        <defs>
                          <clipPath id="clip0_214_1605">
                            <rect width="12" height="16" fill="white" transform="translate(3.5 2)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <h4 class="char__side-label">
                      Research&Development
                    </h4>
                  </div>
                  <div class="char__side-border"></div>
                </div>
                {#<ul class="char__select-list">
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="templates/img//char/char-avatar-1.png" alt="">
                    <p class="char__select-name">
                      DataScience
                      Junior
                    </p>
                  </li>
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="templates/img//char/char-avatar-2.png" alt="">
                    <p class="char__select-name">
                      DataScience
                      Junior
                    </p>
                  </li>
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="templates/img//char/char-avatar-3.png" alt="">
                    <p class="char__select-name">
                      DataScience
                      Junior
                    </p>
                  </li>
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="templates/img//char/char-avatar-4.png" alt="">
                    <p class="char__select-name">
                      DataScience
                      Junior
                    </p>
                  </li>
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="templates/img//char/char-avatar-5.png" alt="">
                    <p class="char__select-name">
                      DataScience
                      Junior
                    </p>
                  </li>
                  <li class="char__select-item">
                    <img class="char__select-avatar" src="templates/img//char/char-avatar-6.png" alt="">
                    <p class="char__select-name">
                      DataScience
                      Junior
                    </p>
                  </li>
                </ul>#}
                <div class="char__map">
                  <div class="char__map-city">
                    <img class="char__map-img" src="templates/img//char/char-map.png" alt="">
                    <p class="char__map-descr">
                      “Играть” будем
                      на карте Белграда
                    </p>
                  </div>
                  <a class="char__map-link" href="#">
                    +5 веских причин, почему стоит работать в нашей компании
                  </a>
                </div>
              </div>
              <div class="char__info-slider swiper mySwiper">
                <img class="char__slide-top" src="templates/img/backtop.svg" alt="">
                <div class="char__info-wrapper swiper-wrapper">
                  {% for item in dlcatalog %}
                  <div class="char__info swiper-slide">
                    <div class="char__info-inner ">
                      <div class="char__info-top">
                        <img class="char__info-top-char" src="{{item.image2}}" alt="">
                        <h4 class="char__info-top-name">
                          {{item.dotatitle}}
                        </h4>
                        <h5 class="char__info-top-label">
                          {{ item.rang }}
                        </h5>
                      </div>
                      <div class="char__info-middle">
                        {{item.stack | raw}}
                      </div>
                      <p class="char__info-descr">
                        {{item.dotadesc}}
                      </p>
                      <a class="char__info-link" href="{{item.url}}">Перейти в вакансию</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
        </section>
      </div>
      <div class="section">
        <section>
        <div class="job game-job"  style="min-height:100vh">
          <div class="container">
            <div class="job__main">
              <div class="job__header">
                <div class="job__head">Дата</div>
                <div class="job__head">Вакансия</div>
                <div class="job__head">Отдел</div>
                <div class="job__head">Условия оплаты труда</div>
                <div class="job__head">Вакансия <br>
                  на площадках</div>
              </div>
              <!-- Accordion -->
              <div class="accordion">
                {{runSnippet('DocLister', {
                id: 'accordion',
                display: 20,
                parents: 2,
                depth: 0,
                tvList:'date,department,pay,hh_link,in_link,special,rang,duties,requirements,teststudy',
                ownerTPL: '@CODE:[+dl.wrap+]',
                tpl:'@T_FILE:partials/accordeon',
                debug: 0,
                }) |raw
                }}
              </div>
            </div>
          </div>
        </div>
        <section>
      </div>
      <div class="footer-form footer-form-game">
        <div class="container">
          <div class="footer-form__inner">
            <div class="footer-form__top">
              <div class="footer-form__top-label">
                Свяжитесь с нами
              </div>
              <h4 class="footer-form__title">
                Простая форма для большого <br>
                шага вперед!
              </h4>
            </div>
            {#<div class="footer-form__main">
              <form class="form" action="#">
                <div class="form__inner">
                  <div class="form__group">
                    <label class="form__label" for="fio">
                      ФИО
                    </label>
                    <input class="input" type="text" id="fio">
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="vakancy">
                      Интересуемая вакансия
                    </label>
                    <input class="input" type="text" id="vakancy">
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="tel">
                      Телефон
                    </label>
                    <input class="input" type="tel" id="tel">
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="resume">
                      Прикрепить файл с резюме
                      <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#FFC107" />
                      </svg>
                      <div class="input-div"></div>
                    </label>
                    <input class="input input-file" type="file" id="resume">
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="email">
                      Email
                    </label>
                    <input class="input" type="email" id="email">
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="test">
                      Прикрепить файл с тестовым заданием
                      <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#FFC107" />
                      </svg>
                      <div class="input-div"></div>
                    </label>
                    <input class="input input-file" type="file" id="test">
                  </div>
                </div>
                <button class="form__btn" type="submit">Отправить отклик</button>
              </form>
            </div>#}
            <div class="footer-form__footer">
              <div class="footer-form__decor"></div>
              <div class="footer-form__decor"></div>
              <div class="footer-form__decor"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal" id="modal1">
        <div class="modal-content">
          <div class="footer-form">
            <div class="container">
              <div class="footer-form__inner">
                <div class="footer-form__top">
                  <div class="footer-form__top-label">
                    Свяжитесь с нами
                  </div>
                  <h4 class="footer-form__title">
                    Простая форма для большого <br>
                    шага вперед!
                  </h4>
                </div>
                <div class="footer-form__main">
                  <form class="form" action="#">
                    <div class="form__inner">
                      <div class="form__group">
                        <label class="form__label" for="fio">
                          ФИО
                        </label>
                        <input class="input" type="text" id="fio">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="vakancy">
                          Интересуемая вакансия
                        </label>
                        <input class="input" type="text" id="vakancy">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="tel">
                          Телефон
                        </label>
                        <input class="input" type="tel" id="tel">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="resume">
                          Прикрепить файл с резюме
                          <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#343A40" />
                          </svg>
                          <div class="input-div"></div>
                        </label>
                        <input class="input input-file" type="file" id="resume">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="email">
                          Email
                        </label>
                        <input class="input" type="email" id="email">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="test">
                          Прикрепить файл с тестовым заданием
                          <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#343A40" />
                          </svg>
                          <div class="input-div"></div>
                        </label>
                        <input class="input input-file" type="file" id="test">
                      </div>
                    </div>
                    <button class="form__btn" type="submit">Отправить отклик</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <button class="close-modal-btn"><img src="templates/img//cancel.svg" width="20" height="20" alt=""></button>
        </div>
      </div>
      <div class="modal" id="modal2">
        <div class="modal-content">
          <div class="footer-form  footer-form-game">
            <div class="container">
              <div class="footer-form__inner">
                <div class="footer-form__top">
                  <div class="footer-form__top-label">
                    Свяжитесь с нами
                  </div>
                  <h4 class="footer-form__title">
                    Простая форма для большого <br>
                    шага вперед!
                  </h4>
                </div>
                <div class="footer-form__main">
                  <form class="form" action="#">
                    <div class="form__inner">
                      <div class="form__group">
                        <label class="form__label" for="fio">
                          ФИО
                        </label>
                        <input class="input" type="text" id="fio">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="vakancy">
                          Интересуемая вакансия
                        </label>
                        <input class="input" type="text" id="vakancy">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="tel">
                          Телефон
                        </label>
                        <input class="input" type="tel" id="tel">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="resume">
                          Прикрепить файл с резюме
                          <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#ffc107" />
                          </svg>
                          <div class="input-div"></div>
                        </label>
                        <input class="input input-file" type="file" id="resume">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="email">
                          Email
                        </label>
                        <input class="input" type="email" id="email">
                      </div>
                      <div class="form__group">
                        <label class="form__label" for="test">
                          Прикрепить файл с тестовым заданием
                          <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#ffc107" />
                          </svg>
                          <div class="input-div"></div>
                        </label>
                        <input class="input input-file" type="file" id="test">
                      </div>
                    </div>
                    <button class="form__btn" type="submit">Отправить отклик</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <button class="close-modal-btn"><img src="templates/img//cancel.svg" width="20" height="20" alt=""></button>
        </div>
      </div>
    </div>
  </main>
  <script>
const mediaQuery = window.matchMedia('(min-width: 768px)')

  window.onload = function() {
    new fullpage('#fullpage', {
      //options here
      //autoScrolling: true,
      //scrollHorizontally: true,
      sectionSelector: '.section',
			anchors: ['vacancy-char', 'lastPage'],
      licenseKey: 'gplv3-license'
    });
    fullpage_api.setAllowScrolling(false);
    fullpage_api.setKeyboardScrolling(false);
    fullpage_api.setRecordHistory(false);
    if (mediaQuery) {
    document.querySelectorAll(".char__select-item").forEach((el => {
      el.addEventListener("click", () => {
        window.scrollTo({
          top: 500,
          behavior: "smooth"
        });
           
      })
    }))
    }
    document.querySelector(".char__slide-top").addEventListener("click", window.scrollBy(0, 0));

  };
 
  </script>
  
{#
	function initialization(){
		var myFullpage = new fullpage('#myContainer', {
			sectionsColor: ['#4A6FB1', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
			anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
			resize: false,
			animateAnchor:false,
			scrollOverflow: true,
			autoScrolling:true,
			responsive: 900,
			fitSection: false,
			menu: '#menu',
			navigation:true,
			continuousVertical:true,
			paddingTop: '20px'
		});
	}

	

	document.querySelector('#moveTo').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.moveTo(2, 3);
	});

	document.querySelector('#silentMoveTo').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.silentMoveTo(2);
	});

	document.querySelector('#silentMoveToSlide').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.silentMoveTo(2, 3);
	});

	document.querySelector('#moveSlideRight').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.moveSlideRight();
	});

	document.querySelector('#moveSlideLeft').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.moveSlideLeft();
	});

	document.querySelector('#setAutoScrollingFalse').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setAutoScrolling(false);
	});

	document.querySelector('#setAutoScrollingTrue').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setAutoScrolling(true);
	});

	document.querySelector('#setAllowScrollingFalse').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setAllowScrolling(false);
	});

	document.querySelector('#setAllowScrollingTrue').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setAllowScrolling(true);
	});

	document.querySelector('#setKeyboardScrollingFalse').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setKeyboardScrolling(false);
	});

	document.querySelector('#setKeyboardScrollingTrue').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setKeyboardScrolling(true);
	});

	document.querySelector('#setScrollingSpeed1500').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setScrollingSpeed(2500);
	});

	document.querySelector('#setScrollingSpeed700').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.setScrollingSpeed(700);
	});

	document.querySelector('#destroy').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.destroy('all');
	});

	document.querySelector('#undestroy').addEventListener('click', function(e){
		e.preventDefault();

		//fullPage.js initialization
		initialization();
	});

	document.querySelector('#reBuild').addEventListener('click', function(e){
		e.preventDefault();
		fullpage_api.reBuild();
	});

	document.querySelector('#setLockAnchorsTrue').addEventListener('click', function(e){
		e.preventDefault;
		fullpage_api.setLockAnchors(true);
	});

	document.querySelector('#setLockAnchorsFalse').addEventListener('click', function(e){
		e.preventDefault;
		fullpage_api.setLockAnchors(false);
	});

#}



  {% endblock %}