<form class="form" action="#" enctype="multipart/form-data">
      <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    {{ data['form.messages'] | raw }}
            <div class="form__inner">
              <div class="form__group">
                <label class="form__label" for="fio">
                  ФИО
                </label>
                <input class="input {{ data['fio.classname'] }}" type="text" name="fio" id="fio">
              </div>
              <div class="form__group">
                <label class="form__label" for="vakancy">
                  Интересуемая вакансия
                </label>
                <input class="input vacancy" type="text" name="vacancy" id="vakancy2">
              </div>
              <div class="form__group">
                <label class="form__label" for="tel">
                  Телефон
                </label>
                <input class="input {{ data['tel.classname'] }}" type="tel" name="tel" id="tel">
              </div>
              <div class="form__group">
                <label class="form__label" for="resume">
                  Прикрепить файл с резюме
                  <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#343A40" />
                  </svg>
                  <div class="input-div"></div>
                    <p id="file-name"></p> <!-- Added line to display the file name -->

                </label>
                <input class="input input-file {{ data['resume.classname'] }}" type="file" name="resume" id="resume">
              </div>
              <div class="form__group">
                <label class="form__label" for="email">
                  Email
                </label>
                <input class="input {{ data['email.classname'] }}" type="email" name="email" id="email">
              </div>
              <div class="form__group">
                <label class="form__label" for="test">
                  Прикрепить файл с тестовым заданием
                  <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z" fill="#343A40" />
                  </svg>

                  <div class="input-div"></div>
                </label>
                <input class="input input-file {{ data['test.classname'] }}" type="file" name="test" id="test">
                  <p id="test-value"></p> <!-- Added line to display the selected value -->

              </div>
            </div>
            <button class="form__btn" type="submit">Отправить отклик</button>
          </form>